{% extends "layout.html" %}
{% load static %}

{% block title %}
Borrar
{% endblock %}

{% block main %}
<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <form id="upload-data" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="fila" class="formbold-form-label">Número de Columna</label>
                <input type="text" name="column" id="column" placeholder="5" class="formbold-form-input"
                    required />
            </div>
            <button type="submit" id="submit-data" class="formbold-btn">Obtener Script</button>
        </form>
    </div>
</div>

<div class="modal">
    <div class="modal-container">
        <div class="modal-left">
            <form id="upload-form" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="modal-title">Cargar Archivos</h1>
                <p class="modal-desc">SQL con delete</p>
                <div class="input-block">
                    <label for="sql" class="input-label">SQL</label>
                    <input type="file" name="sql" id="sql" accept=".sql" required />
                </div>
                <!--<h1 class="modal-title">Cargar Excel</h1>-->
                <p class="modal-desc">Registros a elimnar de Excel</p>
                <div class="input-block">
                    <label for="file" class="input-label">Excel</label>
                    <input type="file" name="file" id="file" accept=".xls,.xlsx" required />
                </div>
                <button type="button" class="formbold-btn" id="submit-btn">Subir</button>
            </form>
        </div>
        <button class="icon-button close-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <path
                    d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z">
                </path>
            </svg>
        </button>
    </div>
    <button class="modal-button">Cargar Excel</button>
</div>

<div class="spinner-container" style="display: none;">
    <span class="loader"></span>
</div>


<script src="{% static 'js/modal.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    window.onload = function () {
        console.log("Se pudo");
        document.getElementById("upload-data").reset();
        document.getElementById("upload-form").reset();
    };

    window.onbeforeunload = function () {
        document.getElementById("upload-data").reset();
        document.getElementById("upload-form").reset();
    };

    $(document).ready(function () {
        $("#upload-data").on("submit", function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $(".spinner-container").show(); // Mostrar spinner
            $.ajax({
                url: '{% url "delete" %}',
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (response, status, xhr) {
                    $(".spinner-container").hide(); // Ocultar spinner
                    var blob = new Blob([response], { type: 'application/sql' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    var filename = xhr.getResponseHeader('Content-Disposition').split('filename=')[1].replace(/"/g, '');
                    link.download = filename;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                    Swal.fire({
                        title: "Éxito",
                        text: "Archivo descargado correctamente",
                        icon: "success",
                    });
                },
                error: function (xhr) {
                    $(".spinner-container").hide(); // Ocultar spinner
                    const errorMessage = xhr.responseJSON?.error || "No se cargaron los datos";
                    Swal.fire({
                        title: "Error",
                        text: errorMessage,
                        icon: "error",
                    });
                },
            });
        });

        $("#submit-btn").on("click", function () {
            var formData = new FormData($("#upload-form")[0]);
            $(".spinner-container").show(); // Mostrar spinner
            $.ajax({
                url: '{% url "submit_excel_sql" %}',
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $(".spinner-container").hide(); // Ocultar spinner
                    Swal.fire({
                        title: "Éxito!",
                        text: response.message,
                        icon: "success",
                    });
                },
                error: function (xhr) {
                    $(".spinner-container").hide(); // Ocultar spinner
                    const errorMessage = xhr.responseJSON?.error || "No se pudo subir el archivo.";
                    Swal.fire({
                        title: "Error!",
                        text: errorMessage,
                        icon: "error",
                    });
                },
            });
        });
    });
</script>

{% endblock %}